html,
body {
    height: 100%;
    color: #662d91;
}

#topLogo{
    background-color: #F1F1F1;
    position: absolute;
    z-index: 10;
    border-radius: 19px;
    background: url(/img/paper.gif);
    top: 3px;
}

#topLogo *{
    height: 65px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-bottom: 200px;
}

.btn {
    margin-bottom: 2px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/** 
Alterações 
**/
.navbar{
    min-height: 70px;
}

.navbar-inverse {
    background-color: #662d91;
    border-color: #662d91;
    margin-bottom: 10px;
    /* min-height: 50px; */
}

.navbar-inverse .navbar-brand {
  color: #E5E5E5;
  height: 45px;
}

.navbar-brand > img {
    position: relative;
    top: -13px;
    height: 66px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #E5E5E5;
}

.navbar-toggle{
    margin-top: 27px;
}

.navbar-nav.navbar-right{
    margin-top: 17px;
} 


.ui-autocomplete {  
  height: 210px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-menu{
  color: #E5E5E5;
  background-color: #662d91;
}

.dropdown-menu > li > a {
  color: inherit;
}
.dropdown-menu > li > a:hover{  
  color: #E5E5E5;
  background-color: black;
}

#grelha-publicacao-custo table tr *:nth-child(3) {
    text-align: right;
}

.kv-expand-detail-row{
    background-color: antiquewhite !important;
}

.ui-resizable{
    position:absolute;
    z-index: 99999;
    background-color: beige;
    opacity: .9;
}

#login-form .checkbox label{
    margin-left:16px;
}

#login-form input {
    max-width:350px;
}



.site-about div.img {
    margin: 5px;
    padding: 5px;
    border: none;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
	
	display: block;
	margin-left: 4%;
	margin-right: 4%;
	
}

.site-about div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
	border-radius: 150px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	
}

.site-about div.img a:hover img {
    border:none;
	opacity: 1;
	filter: alpha(opacity=100);
}

.site-about div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

#powered{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
}

#ajaxWait{
    position: fixed;
    width: 100%;
    text-align: center;
    top: 40%;
    left: 0px;
}
#ajaxWait>img{
    z-index: 11;
    opacity: .7;
    position: fixed;
}
#ajaxWait>#bodyCover{
    width: 100%;
    height: 1000px;
    opacity: .8;
    z-index: 10;
    top: 0;
    left: 0;
    position: inherit;
    background-color: cadetblue;
}